body {
  background-color: #201e1f !important;
}
.nav-bar-color {
  background-color: #201e1f;
}
.Logo {
  color: #e8e2e2;
  font-family: Aladin;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navbar-toggler {
  background-color: white;
}
.bg-img {
  background-image: url("/public/Asset/Images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.main-heading {
  flex-shrink: 0;
  color: #e8e2e2;
  font-family: Roboto Slab;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container-down {
  padding-top: 160px;
}
.bordercartBottom {
  border-bottom: 2px black solid;
}
.borderBottom {
  border-bottom: 3px #ffd551 solid;
}
.section-heading {
  color: #fff;
  font-family: Roboto Slab;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.section-content {
  color: #fff;
  font-family: Roboto Slab;
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  padding-left: 5px;
}
.box {
  background-color: #000;
  width: 267px;
  height: 310px;
  border-radius: 20px;
  flex-shrink: 0;
}
.box-content-heading {
  color: #fff;
  font-family: Roboto Slab;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box-content-dis {
  color: #fff;
  font-family: Roboto Slab;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.my-container {
  display: flex;
  justify-content: center;
}
.price {
  color: #fff;
  font-family: Roboto Slab;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 50px;
}
.buy-now-btn {
  width: 95px;
  color: #000 !important;
  font-family: Roboto Slab !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}
.card {
  border: 10px #000 solid !important;
  background-color: #000 !important;
}
.card-title {
  color: #fff !important;
  font-family: Roboto Slab !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-text {
  color: #fff;
  font-family: Roboto Slab;
  font-size: 10px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
#final-btn {
  color: #000;
  font-family: Roboto Slab;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-title-cart {
  color: black !important;
  font-family: Roboto Slab !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-text-cart {
  color: black;
  font-family: Roboto Slab;
  font-size: 10px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.test-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
