@media (max-width: 767px) {
  .logo-mobile {
    font-size: 30px;
    font-family: Aladin;
  }
  .main-heading-mobile {
    font-size: 38px;
  }
  .main-heading-btn {
  }
  .catgerioes-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .special-mobile {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }
  .section-heading {
    font-size: 32px;
  }
  .section-content {
    font-size: 10px;
    white-space: nowrap;
  }
  .why-coffee-img {
    width: 0px;
  }
  .mobile-test-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-top: 5px;
  }
  .col-md-10 {
    text-align: center;
  }
}
